<%# <h2>EDIT <%= resource_name.to_s.humanize </h2> %> 
<h2> Изменение информации </h2>
<hr/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Ник %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :Фамилия %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :Имя %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Пароль %> <i>(оставьте пустым, если не хотите его менять)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Подтвердите_пароль %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Текущий_пароль %> <i>(нам нужен ваш текущий пароль, чтобы подтвердить ваши изменения)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Изменить" %>
  </div>
<% end %>

<div><%= button_to "Удалить аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены, что хотите удалить аккаунт?", turbo_confirm: "Вы уверены, что хотите удалить аккаунт?" }, method: :delete, class:"cancel-account"%></div>

<%= link_to "Назад", :back, class: "back" %>
