<!DOCTYPE html>
<html>
  <head>
    <title>Сайт спорт товаров</title>
    <%= stylesheet_link_tag 'styles' %>
    
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
